#content
  = form_tag create_committee_announcement_path :method => :put do
    = label_tag :title, "Title: "
    = text_area_tag 'title', nil, size: "40x3", placeholder: "Your title here"
    <br/>
    = label_tag :content, "Content: "
    = text_area_tag 'content', nil, size: "40x10", placeholder: "Your content here"
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', subcommittee_index_path(params[:committee_type]), :class => "button"
