%h1 Title: "#{@announcement.title}"
%h1 Content: "#{@announcement.content}"

.outer
  .container
    %h3 Join the discussion!
    #comments
      -@emailhash.each do |comment, email|
        .comment
          %span <b>#{email} says: </b> #{comment.content} at #{comment.created_at.strftime("%m/%d/%Y %l:%M %p")}
          .comment-delete
            = link_to "Delete Comment", delete_comment_path(@announcement.id, comment.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: :buttonSmall
    %p Click the button below to start a new thread:
    %p= link_to 'Add new comment', new_comment_path, class: :button


