#admin
  %h1 #{@committee_type.capitalize} Subcommittee

- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]

%h2 Announcements

#document_content
  %table
    %thead
      %tr
        %td{:class => "admindashboard_row_announcement_title"} Title
        %td{:class => "admindashboard_row_announcement_content"} Content
        %td{:class => "admindashboard_row_announcement_createdat"} Created at
        %td{:class => "admindashboard_row_announcement_updatedat"} Updated at
        %td{:class => "admindashboard_row_announcement_edit"} Edit
        %td{:class => "admindashboard_row_announcement_delete"} Delete
    %tbody
      -@announcements.each do |announcement|
        %tr
          %td= link_to "#{announcement.title}", comment_path(announcement.id)
          %td= announcement.content
          %td= announcement.created_at.strftime("%m/%d/%Y %l:%M %p")
          %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
          %td= link_to "Edit Announcement", edit_committee_announcement_path(:announcement_id => announcement.id)
          %td= button_to "Delete Announcement", delete_committee_announcement_path(:announcement_id => announcement.id), :method => :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add new announcement', new_committee_announcement_path, :class => "button"

%h2 Documents

#document_content
  %table
    %thead
      %tr
        %td{:class => "admindashboard_row_announcement_title"} Title
        %td{:class => "admindashboard_row_announcement_createdat"} Created at
        %td{:class => "admindashboard_row_announcement_updatedat"} Updated at
        %td{:class => "admindashboard_row_announcement_updatedat"} Edit
        %td{:class => "admindashboard_row_announcement_delete"} Delete
    %tbody
      - @document_list.each do |document|
        %tr
          %td= link_to document.title, document.url, :target => "_blank"
          %td= document.created_at.strftime("%m/%d/%Y %l:%M %p")
          %td= document.updated_at.strftime("%m/%d/%Y %l:%M %p")
          %td= link_to "Edit Document", edit_committee_document_path(:id => document.id)
          %td= link_to "Delete Document", delete_committee_document_path(:document_id => document.id), :method => :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add new document',new_committee_document_path, :class => "button"
