%h1 Board Member Dashboard
#announcements
  %h2{:class => "search_head" } Main Announcements
  #announcement_content
    %table
      %thead
        %tr
          %td{:class => "dashboard_row_announcement_time"}= "Date"
          %td{:class => "dashboard_row_announcement_content"}= "Title"
      %tbody
        - @announcement_list.each do |announcement|
          %tr
            %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
            %td= link_to "#{announcement.title}", comment_path(announcement.id)
  %h2{:class => "search_head" } Subcommittee Announcements
  #announcement_content
    %table
      %thead
        %tr
          %td{:class => "dashboard_row_announcement_time"}= "Date"
          %td{:class => "dashboard_row_announcement_content"}= "Title"
      %tbody
        - @subcomittee_announcements_list.each do |announcement|
          %tr
            %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
            %td= link_to "#{announcement.title} [#{announcement.committee_type}]", comment_path(announcement.id)
  = link_to "Search", show_announcements_path(:categories => [:dashboard, :internal, :executive, :external]), :id => :main, :class => :buttonSmall
#calendar
  %h2 Events
  %table
    %thead
      %tr
        %td= "Title"
        %td= "Location"
        %td= "Date"
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to "#{event.title}", show_event_path(event.id)  
          %td= event.location
          %td= event.date.strftime("%m/%d/%Y %l:%M %p")