%h1 Board Member Dashboard
#announcements
  %h2{:class => "search_head" } Main Announcements
  .search_button= link_to "Search", show_announcements_path(:categories => [:dashboard]), :id => :main
  #announcement_content
    %table
      %thead
        %tr
          %td{:class => "dashboard_row_announcement_time"}= "Date"
          %td{:class => "dashboard_row_announcement_content"}= "Title"
      %tbody
        - @announcement_list.each do |announcement|
          %tr
            %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
            %td= link_to "#{announcement.title}", comment_path(announcement.id)
  %h2{:class => "search_head" } Subcommittee Announcements
  .search_button= link_to "Search", show_announcements_path(:categories => [:internal, :external, :executive]), :id => :subcommittee
  #announcement_content
    %table
      %thead
        %tr
          %td{:class => "dashboard_row_announcement_time"}= "Date"
          %td{:class => "dashboard_row_announcement_content"}= "Title"
      %tbody
        - @subcomittee_announcements_list.each do |announcement|
          %tr
            %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
            %td= link_to "#{announcement.title} [#{announcement.committee_type}]", comment_path(announcement.id)
#calendar
  %h2 Calendar
  <iframe src="https://calendar.google.com/calendar/embed?src=#{@curr_calendar_id}%40communitygrows.org&ctz=America/Los_Angeles" style="border: 0" width=98% height=91% frameborder="1" scrolling="no"></iframe>