#content
  = form_tag update_announcement_path(@id, @announcement), :method => :put do
    = label :announcement, :title, "Title: "
    = text_field :announcement, 'title', :value => @target_announcement.title
    <br/>
    = label :announcement, :content, "Content: "
    = text_field :announcement, 'content', cols: 40, rows: 5, :value => @target_announcement.content
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', admin_index_path, :class => "button"
