%h1 Edit Existing User

= form_tag update_user_path(@user), :method => :put do

  = label :user, :email, 'Email'
  = text_field :user, 'email'
  
  = label :user, :password, 'Password'
  = text_field :user, 'password'
  
  = label :user, :password_confirmation, 'Password Confirmation'
  = text_field :user, 'password_confirmation'

  = label :user, :admin, 'Admin'
  = select :user, :admin, ['True','False']

  = submit_tag 'Update user'