#admin
  %h2 Administrator

%h1 User Management

%table#movies
  %thead
    %tr
      %td User:
      %td Status:
      %td Created_at:
      %td
  %tbody
    - users = ['Jae', 'Bae']
    - admin = ['Admin', 'User']
    - (1..2).each do |i|
      %tr
        %td= users[i-1]
        %td= admin[i-1]
        %td= '2016-03-10'
        %td= link_to "Edit", ''

= link_to 'Add new user', ''
= link_to 'delete movie', ''



%h1 Announcement Management

%table#movies
  %thead
    %tr
      %td Title:
      %td Content:
      %td Created_at:
      %td Updated_at:
      %td
      %td
  %tbody
    - @announcement_list.each do |announcement|
      %tr
        %td= announcement.title
        %td= announcement.content
        %td= announcement.created_at
        %td= announcement.updated_at
        %td= link_to "Edit", edit_announcement_path(announcement.id)
        %td= link_to "Delete", delete_announcement_path(announcement.id), data: { confirm: 'Are you sure?' }

= link_to 'New Announcement', new_announcement_path