#admin
  %h1 Admin Dashboard

- if flash[:notice]
  #flashNotice
  %h3 
  = flash[:notice]

%h2 User Management

%table#movies
  %thead
    %tr
      %td User
      %td Status
      %td Created At
      %td Last Sign In
  %tbody
    -@users.each do |user|
      %tr
        %td= link_to "#{user.email}", edit_user_path(user.id)
        %td= user.admin ? "Admin" : "User"
        %td= user.created_at.in_time_zone("Pacific Time (US & Canada)")
        %td= user.last_sign_in_at
        %td= button_to "Delete", delete_user_path(user.id), :method => :delete, :confirm => 'Are you sure?' 

= link_to 'Add new user', new_user_path

%h2 Announcement Management

%table#movies
  %thead
    %tr
      %td Title:
      %td Content:
      %td Created_at:
      %td 
  %tbody
    - (1..1).each do |i|
      %tr
        %td= 'Hello'
        %td= 'This is a mock-up'
        %td= '2016-03-10'
        %td= link_to "Show more", ''

= link_to 'Add Announcement', ''
= link_to 'Delete Announcement', ''

%h2 Register/Update Google Calendar
%p Insert your Google id (Make sure to set your calendar shared to public or it would not be displayed correctly on the dashboard)

= form_tag update_calendar_path(@calendar), :method => :put do
  = label :calendar, :title, "Google Calendar owner's id:"
  = text_field :calendar, 'html'

  = submit_tag 'Update Google Calendar'
