= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true 
#admin
  %h2 Administrator

- if flash[:notice]
  #flashNotice
    = flash[:notice]

%h1 User Management

%table#movies
  %thead
    %tr
      %td User:
      %td Status:
      %td Created_at:
      %td
  %tbody
    - users = ['Jae', 'Bae']
    - admin = ['Admin', 'User']
    - (1..2).each do |i|
      %tr
        %td= users[i-1]
        %td= admin[i-1]
        %td= '2016-03-10'
        %td= link_to "Edit", ''

= link_to 'Add new user', ''
= link_to 'delete movie', ''

%h1 Announcement Management

%table#movies
  %thead
    %tr
      %td Title:
      %td Content:
      %td Created_at:
      %td 
  %tbody
    - (1..1).each do |i|
      %tr
        %td= 'Hello'
        %td= 'This is a mock-up'
        %td= '2016-03-10'
        %td= link_to "Show more", ''

= link_to 'Add Announcement', ''
= link_to 'Delete Announcement', ''

%h1 Register/Update Google Calendar
%p Insert your Google id (Make sure to set your calendar shared to public or it would not be displayed correctly on the dashboard)

= form_tag update_calendar_path(@calendar), :method => :put do
  = label :calendar, :title, "Google Calendar owner's id:"
  = text_field :calendar, 'html'

  = submit_tag 'Update Google Calendar'
