#admin
  %h1 Admin Dashboard

- if flash[:notice]
  #flashNotice
  %h3 
  = flash[:notice]

%h2 User Management

#table_content
  %table
    %thead
      %tr
        %td User
        %td Status
        %td Created At
        %td Last Sign In
        %td Delete
    %tbody
      -@users.each do |user|
        %tr
          %td= link_to "#{user.email}", edit_user_path(user.id)
          %td= user.admin ? "Admin" : "User"
          %td= user.created_at.strftime("%m/%d/%Y %l:%M %p")
          %td= user.last_sign_in_at.strftime("%m/%d/%Y %l:%M %p")
          %td= button_to "Delete User", delete_user_path(user.id), :method => :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add new user', new_user_path, :class => "button"

<br/> <br/>


%h2 Announcement Management

#table_content
  %table
    %thead
      %tr
        %td{:class => "admindashboard_row_announcement_title"} Title
        %td{:class => "admindashboard_row_announcement_content"} Content
        %td{:class => "admindashboard_row_announcement_createdat"} Created at
        %td{:class => "admindashboard_row_announcement_updatedat"} Updated at
        %td{:class => "admindashboard_row_announcement_edit"} Edit
        %td{:class => "admindashboard_row_announcement_delete"} Delete
    %tbody
      - @announcement_list.each do |announcement|
        %tr
          %td= announcement.title
          %td= announcement.content
          %td= announcement.created_at.strftime("%m/%d/%Y %l:%M %p")
          %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
          %td= link_to "Edit Announcement", edit_announcement_path(announcement.id)
          %td= link_to "Delete Announcement", delete_announcement_path(announcement.id), data: { confirm: 'Are you sure?' }

= link_to 'New Announcement', new_announcement_path, :class => "button"

<br/> <br/>

%h2 Register/Update Google Calendar
%p Insert your Google id (Make sure to set your calendar shared to public or it would not be displayed correctly on the dashboard)

= form_tag update_calendar_path(@calendar), :method => :put do
  = label :calendar, :title, "Google Calendar owner's id:"
  = text_field :calendar, 'html'

  = submit_tag 'Update Google Calendar', :class => "button"
