#content
  = form_tag create_announcement_path(@announcement), :method => :put do
    = label :announcement, :title, "Title: "
    = text_area :announcement, 'title', cols: 40, rows: 3, :placeholder => "Your title here"
    <br/>
    = label :announcement, :content, "Content: "
    = text_area :announcement, 'content', cols: 40, rows: 5, :placeholder => "Your content here"
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', admin_index_path, :class => "button"
