#content
  = form_tag update_internal_document_list_path(@internal_document_list_id, @internal_document_list), :method => :put do
    = label :internal_document_list, :title, "Title: "
    = text_area :internal_document_list, 'title', cols: 40, rows: 3, :value => @internal_document_list.title
    <br/>
    = label :internal_document_list, :url, "URL: "
    = text_area :internal_document_list, 'url', cols: 40, rows: 10, :value => @internal_document_list.url
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', internal_committee_index_path, :class => "button"
