#content
  = form_tag update_executive_document_list_path(@executive_document_list_id, @executive_document_list), :method => :put do
    = label :executive_document_list, :title, "Title: "
    = text_area :executive_document_list, 'title', cols: 40, rows: 3, :value => @executive_document_list.title
    <br/>
    = label :executive_document_list, :url, "URL: "
    = text_area :executive_document_list, 'url', cols: 40, rows: 10, :value => @executive_document_list.url
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', executive_committee_index_path, :class => "button"
