#content
  = form_tag create_external_document_list_path(@external_document_list), :method => :put do
    = label :external_document_list, :title, "Title: "
    = text_area :external_document_list, 'title', cols: 40, rows: 3, :placeholder => "Your title here"
    <br/>
    = label :external_document_list, :url, "URL: "
    = text_area :external_document_list, 'url', cols: 40, rows: 10, :placeholder => "Your URL here"
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', external_committee_index_path, :class => "button"
