#content
  = form_tag update_committee_document_path, :method => :put do
    = hidden_field :document, :id
    = label_tag :title, "Title: "
    = text_area_tag 'title', @document.title, size: "40x3"
    <br/>
    = label :url, "URL: "
    = text_area_tag 'url', @document.url, size: "40x10" 
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', subcommittee_index_path, :class => "button"
