%h1 Create New Event

- if flash[:notice]
  #flashNotice
    = flash[:notice]
</br>

#content
  = form_tag create_new_event_path do
    .row
      =label :event, :title, 'Title', :class => "formLabel"
      =text_field :event, 'title'
    <br/>
    .row
      =label :event, :location, 'Location', :class => "formLabel"
      =text_field :event, 'location'
    <br/>
    .row
      = label :event, :description, "Description: "
      = text_area :event, 'description'
    <br/>
    .row
      =label :event, :date, 'Start Date', :id => "start_date"
      =datetime_field :event, 'date', :value => Time.zone.now.strftime('%m/%d/%Y'), placeholder: "MM/DD//YYYY", :class => "date_field"
      =label :event, :end, 'End Date', :id => "end_date"
      =datetime_field :event, 'end', :value => Time.zone.now.strftime('%m/%d/%Y'), placeholder: "MM/DD//YYYY", :class => "date_field"
    <br/>
    .row
    =label :event, :time_start, 'Start Time'
    =datetime_field :event, 'time_start', :class => "time_field"
    =label :event, :time_end, 'End Time'
    =datetime_field :event, 'time_start', :class => "time_field"
    <br/>
    <br/>
    .row
      = label :event, :url, 'URL'
      = text_field :event, 'url', placeholder: "Place url for link to external source", size: '60x1'
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', admin_index_path, :class => "button"