#content
  = form_tag update_announcement_path(@announcement_id, @announcement_type), :method => :put do
    = label :title, "Title: "
    = text_area :title, 'title', cols: 40, rows: 3, :value => @executive_announcement.title
    <br/>
    = label :content, "Content: "
    = text_area :content, 'content', cols: 40, rows: 10, :value => @executive_announcement.content
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', committee_index_path(@announcement_type), :class => "button"
