#content
  = form_tag update_internal_announcement_path(@internal_announcement_id, @internal_announcement), :method => :put do
    = label :internal_announcement, :title, "Title: "
    = text_area :internal_announcement, 'title', cols: 40, rows: 3, :value => @internal_announcement.title
    <br/>
    = label :internal_announcement, :content, "Content: "
    = text_area :internal_announcement, 'content', cols: 40, rows: 10, :value => @internal_announcement.content
    <br/>
    = submit_tag 'Submit', :class => "button"
  = link_to 'Back', internal_committee_index_path, :class => "button"
