#docRepo
  %h2 Document Repository

= link_to 'Add new file', new_file_path, :class => "button"

%h1#committeeTitle Executive committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td Last modified
      %td
  %tbody
    - documents = Document.where(:committee => 'executive')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.updated_at
        %td= link_to("Edit", file.url)+ " | "+ link_to("Delete", documents_path)
        

%h1#committeeTitle Internal committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td Last modified
      %td
  %tbody
    - documents = Document.where(:committee => 'internal')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.updated_at
        %td= link_to "Edit", file.url
        
        
%h1#committeeTitle External committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td Last modified
      %td
  %tbody
    - documents = Document.where(:committee => 'external')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.updated_at
        %td= link_to "Edit", file.url
