#docRepo
  %h2 Document Repository

- if flash[:notice]
  #flashNotice
  %h3 
  = flash[:notice]


%h2

= link_to 'Add new file', new_file_path, :class => "button"

%h1#committeeTitle Executive committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td URL
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee => 'executive')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.url
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }
        /link_to("Edit", edit_file_path(file.id))
        /+ " | "+ link_to("Delete", delete_path: {:file=>file})
        /%td= link_to("Edit", file.url)+ " | "+ link_to("Delete", documents_path)
        

%h1#committeeTitle Internal committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td URL
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee => 'internal')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.url
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }
        
        
%h1#committeeTitle External committee

%table#docs
  %thead#filebar
    %tr
      %td File name
      %td URL
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee => 'external')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= file.title
        %td= file.url
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }

