#docRepo
  %h1 Document Repository
  
= link_to 'Add new file', new_file_path, :class => "button"

- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]

%h2#committeeTitle Executive committee 

%table#docs
  %thead#filebar
    %tr
      %td File
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee_type => 'executive')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= link_to file.title, url_for(file.url)
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }
        
%h2#committeeTitle External committee

%table#docs
  %thead#filebar
    %tr
      %td File
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee_type => 'external')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= link_to file.title, url_for(file.url)
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }
        
%h2#committeeTitle Internal committee

%table#docs
  %thead#filebar
    %tr
      %td File
      %td Updated at
      %td Edit
      %td Delete
  %tbody
    - documents = Document.where(:committee_type => 'internal')
    - if documents.empty?
      %td= "No files have been entered"
    - documents.each do |file|
      %tr
        %td= link_to file.title, url_for(file.url)
        %td= file.updated_at
        %td= link_to "Edit document", edit_file_path(file.id)
        %td= link_to "Delete document", delete_file_path(file.id), data: { confirm: 'Are you sure?' }

