%h1 Add new file

- if flash[:notice] == "Populate all fields before submission." or flash[:notice]=="Please enter a valid URL."
  #flashNotice
    = flash[:notice]

</br>

= form_tag create_file_path do

  = label :file, :title, 'Title'
  = text_field :file, 'title'
  
  = label :file, :url, 'URL'
  = text_field :file, 'url'

  = label :file, :committee_type, 'Category'
  = select :file, :committee_type, {'About Community Grows' => 'CGadmin', 'Board Overview' => 'boardoverview', 'Board Activities' => 'boardactivities', 'Budgets and Finances' => 'budgetfinance', 'AB Meetings' => 'abmeetings'}

  = submit_tag 'Submit'