<!DOCTYPE html>
<html>
<head>
  <title>CG Dashboard</title>
  <%= stylesheet_link_tag    'base', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
image_tag( 'header.jpg')
<ul>
  <li><%= link_to image_tag( 'logo/logo.jpg'), dashboard_index_path, {:class=>"dashboard"}%></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete', :class=>"navigation"%></li>
  <li><%= link_to "Admin Dashboard", admin_index_path, { :class=>"navigation"}%></li>
  <li><%= link_to "Comittee", committee_index_path, { :class=>"navigation"}%></li>
  <li><%= link_to "Documents", documents_path, { :class=>"navigation"}%></li>
  <li><%= link_to "Dashboard", dashboard_index_path, { :class=>"navigation"}%></li>
  
</ul>

<!-- yield will substitute different views in -->
<div class="view">
  <%= yield %>
</div>


</body>
</html>
