<!DOCTYPE html>
<html>
<head>
  <title>CG Dashboard</title>
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Forum" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'base', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery-ui', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.timepicker.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav-bar">
  <li><%= link_to "Dashboard", dashboard_index_path, { :class=>"navigation"}%></li>
  <li><%= link_to "Documents", documents_path, { :class=>"navigation"}%></li>
  <li><%= link_to "Internal", subcommittee_index_path("internal"), { :class=>"navigation"}%></li>
  <li><%= link_to "External", subcommittee_index_path("external"), { :class=>"navigation"}%></li>
  <li><%= link_to "Executive", subcommittee_index_path("executive"), { :class=>"navigation"}%></li>
  <li><%= link_to "Account Details", user_credentials_path(current_user.id), { :class=>"navigation"}%></li>
  <li><%= link_to "Admin Dashboard", admin_index_path, { :class=>"navigation"} if current_user.admin %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete', :class=>"navigation signout"%></li>
</ul>

<!-- yield will substitute different views in -->
<div class="content_without_nav">
  <%= yield %>
</div>

<div class="bottom-bar">
  <h3>CommunityGrows Board Member Portal</h3>
  <div class="logo">
    <%= image_tag( 'logo/logo.jpg')%>
  </div>
</div>

</body>
</html>
